.App {
  background-color: #f6f6f6;
  color: #0d1d2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  width: 100%;
  padding-top: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  display: flex;
  width: 400px;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.resultSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.expenseBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px 10px;
  width: 135px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.expenseBox span {
  font-weight: bold;
  color: green;
}
.btn {
  outline: none;
  padding: 5px 10px;
  background-color: #ede9fe;
  color: #6d28d9;
  border-radius: 5px;
  border: 1px solid #6d28d9;
}
.primary {
  color: white;
  background-color: #6d28d9;
  border: none;
  padding: 8px 10px;
}
.cansle {
  background-color: #fff;
  color: #dc2626;
  border: 1px solid #dc2626;
}
form {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  justify-content: space-between;
  margin-bottom: 20px;
}
input {
  border: 1px solid #ccc;
  padding: 10px 12px;
  outline: none;
  border-radius: 5px;
}
input[type="radio"] {
  margin-left: 10px;
}
.radioBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}
.radioBox label {
  margin-left: 3px;
  font-size: 12px;
}
.transAction {
  border-radius: 5px;
  background-color: #f4f4f5;
  padding: 10px;
  font-weight: bold;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  border-right: 4px solid green;
}
